<!-- carousel -->
<div class="carousel">
    <ng-container *ngFor="let slide of slides; let i = index">
        <span *ngIf="i === currentSlide" class="slide-container">
            <div class="background-window before one"
                [ngStyle]="{'background-color': getSlide('color',4, currentSlide)}">
                <p>{{getSlide('name',4, currentSlide)}}</p>
                <img [src]="getSlide('image', 4, currentSlide)" class="slide-image" [@slideAnimation]="animationType" />
            </div>
            <div class="background-window before two"
                [ngStyle]="{'background-color': getSlide('color',2, currentSlide)}">
                <p>{{getSlide('name',2, currentSlide)}}</p>
                <img [src]="getSlide('image', 2, currentSlide)" class="slide-image" [@slideAnimation]="animationType" />
            </div>
            <div class="background-window before three"
                [ngStyle]="{'background-color': getSlide('color',3, currentSlide)}">
                <p>{{getSlide('name', 3, currentSlide)}}</p>
                <img [src]="getSlide('image', 3, currentSlide)" class="slide-image" [@slideAnimation]="animationType" />
            </div>
            <span class="main-stage" [ngStyle]="{'background-color': getSlide('color', 1, currentSlide)}">
                <img [src]="getSlide('image', 1, currentSlide)" class="slide-image" [@slideAnimation]="animationType" />
                <span class="name-plate">
                    <p>{{slide.name}}</p>
                    <p>{{slide.headline}}</p>
                </span>
            </span>
            <div class="background-window after one"
                [ngStyle]="{'background-color': getSlide('color', 5, currentSlide)}">
                <p>{{getSlide('name', 5, currentSlide)}}</p>
                <img [src]="getSlide('image', 5, currentSlide)" class="slide-image" [@slideAnimation]="animationType" />
            </div>
            <div class="background-window after two"
                [ngStyle]="{'background-color': getSlide('color', 6, currentSlide)}">
                <p>{{getSlide('name', 6, currentSlide)}}</p>
                <img [src]="getSlide('image' , 6, currentSlide)" class="slide-image"
                    [@slideAnimation]="animationType" />
            </div>
            <div class="background-window after three"
                [ngStyle]="{'background-color': getSlide('color', 7, currentSlide)}">
                <p>{{getSlide('name',7, currentSlide)}}</p>
                <img [src]="getSlide('image', 7, currentSlide)" class="slide-image" [@slideAnimation]="animationType" />
            </div>
        </span>
    </ng-container>

    <!-- controls -->
    <button class="control prev" (click)="onPreviousClick()">
        <span class="arrow left"></span>
    </button>
    <button class="control next" (click)="onNextClick()">
        <span class="arrow right"></span>
    </button>
</div>