<!-- carousel -->
<div class="carousel">
    <ng-container *ngFor="let slide of slides; let i = index">
        <span *ngIf="i === currentSlide" class="slide-container">
            <div class="background-window before three" (click)="setCurrentUser(+3)"
                [ngStyle]="{'background-color': getSlide('color', currentSlide + 3)}">
                <p>{{getSlide('name', currentSlide + 3)}}</p>
                <img [src]="getSlide('image', currentSlide + 3)" class="slide-image"
                    [@slideAnimation]="animationType" />
                <button class="user-button before three" mat-raised-button (click)="setCurrentUser(+3)"
                    [style.background-color]="getSlide('color', currentSlide + 3)">{{getSlide('name', currentSlide +
                    3)}}</button>
            </div>
            <div class="background-window before two" (click)="setCurrentUser(+2)"
                [ngStyle]="{'background-color': getSlide('color', currentSlide + 2)}">
                <p>{{getSlide('name', currentSlide + 2)}}</p>
                <img [src]="getSlide('image', currentSlide + 2)" class="slide-image"
                    [@slideAnimation]="animationType" />
                <button mat-raised-button class="user-button before two" mat-raised-button
                    [style.background-color]="getSlide('color', currentSlide + 2)" (click)="setCurrentUser(+2)"
                    color="accent">{{getSlide('name',
                    currentSlide + 2)}}</button>
            </div>
            <div class="background-window before one" (click)="setCurrentUser(+ 1)"
                [ngStyle]="{'background-color': getSlide('color', currentSlide + 1)}">
                <p>{{getSlide('name', currentSlide + 1)}}</p>
                <img [src]="getSlide('image', currentSlide + 1)" class="slide-image"
                    [@slideAnimation]="animationType" />
                <button mat-raised-button class="user-button before one" mat-raised-button (click)="setCurrentUser(+1)"
                [style.background-color]="getSlide('color', currentSlide + 1)">{{getSlide('name',
                    currentSlide + 1)}}</button>
            </div>
            <span class="main-stage slide" [ngStyle]="{'background-color': getSlide('color', currentSlide)}">
                <img [src]="getSlide('image', currentSlide)" class="slide-image" [@slideAnimation]="animationType" />
                <span class="name-plate">
                    <h3>{{slide.name}}</h3>
                    <p>{{slide.headline}}</p>
                </span>
                <button mat-raised-button class="current user-button" mat-raised-button
                [style.background-color]="getSlide('color', currentSlide)">{{getSlide('name', currentSlide)}}</button>
            </span>
            <div class="background-window after one" (click)="setCurrentUser(-1)"
                [ngStyle]="{'background-color': getSlide('color', currentSlide - 1)}">
                <p>{{getSlide('name', currentSlide - 1)}}</p>
                <img [src]="getSlide('image', currentSlide - 1)" class="slide-image"
                    [@slideAnimation]="animationType" />
                <button mat-raised-button class="user-button after one" mat-raised-button (click)="setCurrentUser(-1)"
                [style.background-color]="getSlide('color', currentSlide - 1)">{{getSlide('name', currentSlide -
                    1)}}</button>
            </div>
            <div class="background-window after two" (click)="setCurrentUser(-2)"
                [ngStyle]="{'background-color': getSlide('color', currentSlide - 2)}">
                <p>{{getSlide('name', currentSlide - 2)}}</p>
                <img [src]="getSlide('image' , currentSlide - 2)" class="slide-image"
                    [@slideAnimation]="animationType" />
                <button mat-raised-button class="user-button after two" mat-raised-button (click)="setCurrentUser(-2)"
                [style.background-color]="getSlide('color', currentSlide - 2)">{{getSlide('name', currentSlide -
                    2)}}</button>
            </div>
            <div class="background-window after three" (click)="setCurrentUser(+3)"
                [ngStyle]="{'background-color': getSlide('color', currentSlide - 3)}">
                <p>{{getSlide('name', currentSlide - 3)}}</p>
                <img [src]="getSlide('image', currentSlide - 3)" class="slide-image"
                    [@slideAnimation]="animationType" />
                <button mat-raised-button class="user-button after three" mat-raised-button (click)="setCurrentUser(-3)"
                [style.background-color]="getSlide('color', currentSlide - 3)">{{getSlide('name', currentSlide -
                    3)}}</button>
            </div>
        </span>
    </ng-container>

    <!-- controls -->
    <button class="control prev" (click)="onPreviousClick()">
        <span class="arrow left"></span>
    </button>
    <button class="control next" (click)="onNextClick()">
        <span class="arrow right"></span>
    </button>
</div>