<!-- carousel -->
<div class="carousel">
    <ng-container *ngFor="let slide of slides; let i = index">
        <span *ngIf="i === currentSlide" class="slide-container">
            <div class="background-window before three"
                [ngStyle]="{'background-color': getSlide('color', currentSlide + 3)}">
                <p>{{getSlide('name', currentSlide + 3)}}</p>
                <img [src]="getSlide('image', currentSlide + 3)" class="slide-image" [@slideAnimation]="animationType" />
            </div>
            <div class="background-window before two"
                [ngStyle]="{'background-color': getSlide('color', currentSlide - 2)}">
                <p>{{getSlide('name', currentSlide + 2)}}</p>
                <img [src]="getSlide('image', currentSlide + 2)" class="slide-image" [@slideAnimation]="animationType" />
            </div>
            <div class="background-window before one"
                [ngStyle]="{'background-color': getSlide('color', currentSlide + 1)}">
                <p>{{getSlide('name', currentSlide + 1)}}</p>
                <img [src]="getSlide('image', currentSlide + 1)" class="slide-image" [@slideAnimation]="animationType" />
            </div>
            <span class="main-stage" [ngStyle]="{'background-color': getSlide('color', currentSlide)}">
                <img [src]="getSlide('image', currentSlide)" class="slide-image" [@slideAnimation]="animationType" />
                <span class="name-plate">
                    <p>{{slide.name}}</p>
                    <p>{{slide.headline}}</p>
                </span>
            </span>
            <div class="background-window after one"
                [ngStyle]="{'background-color': getSlide('color', currentSlide - 1)}">
                <p>{{getSlide('name', currentSlide - 1)}}</p>
                <img [src]="getSlide('image', currentSlide - 1)" class="slide-image" [@slideAnimation]="animationType" />
            </div>
            <div class="background-window after two"
                [ngStyle]="{'background-color': getSlide('color', currentSlide - 2)}">
                <p>{{getSlide('name', currentSlide - 2)}}</p>
                <img [src]="getSlide('image' , currentSlide - 2)" class="slide-image"
                    [@slideAnimation]="animationType" />
            </div>
            <div class="background-window after three"
                [ngStyle]="{'background-color': getSlide('color', currentSlide - 3)}">
                <p>{{getSlide('name', currentSlide - 3)}}</p>
                <img [src]="getSlide('image', currentSlide - 3)" class="slide-image" [@slideAnimation]="animationType" />
            </div>
        </span>
    </ng-container>

    <!-- controls -->
    <button class="control prev" (click)="onPreviousClick()">
        <span class="arrow left"></span>
    </button>
    <button class="control next" (click)="onNextClick()">
        <span class="arrow right"></span>
    </button>

    <div *ngFor="let footer of slides; let i = index;">
        <button mat-raised-button color="accent">{{footer.name}}</button>
    </div>
</div>